.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
}

.formContainer {
	background-color: #202020;
	padding: 20px;
	border: 0.5px solid #555;
	border-radius: 5px;
	width: 350px;

	h1 {
		font-size: 40px;
		margin-bottom: 20px;
		text-align: center;
	}

	form {
		.formGroup {
			display: flex;
			flex-direction: column;
			margin-bottom: 15px;

			label {
				margin-bottom: 5px;
				text-align: left;
				font-size: 24px;
			}

			input {
				padding: 10px;
				border: 1px solid #555;
				background-color: #333;
				color: #fff;
				border-radius: 3px;
				transition: border-color 0.3s;
				font-size: 24px;

				&:focus {
					border-color: #646cff;
				}

				&::placeholder {
					font-size: 24px;
				}
			}
		}

		button {
			padding: 10px 20px;
			background-color: #646cff;
			color: #fff;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			transition: background-color 0.3s;
			font-size: 24px;
			border-radius: 10px;

			&:hover {
				background-color: #535bf2;
			}
		}
	}
}
